@media screen and (min-width: 700px) {
  .scoreboard {
    display: flex;
    gap: 5px;
    color: #21334f;
    text-align: left;
    font: 600 28px "Inter", sans-serif;
  }

  .scoreboardlogo {
    background: linear-gradient(
      161.92deg,
      rgba(20, 168, 0, 1) 0%,
      rgba(184, 211, 68, 1) 100%
    );
    border-radius: 50%;
    padding: 10px;
    width: 48px;
    height: 48px;
    position: relative;
  }

  .scoreboardname {
    color: #21334f;
    font-family: sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: flex-end;
    top: 10px;
    position: relative;
  }
}

@media screen and (max-width: 700px) {
  .scoreboard {
    display: none;
  }
}

.home {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.header {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 10%;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.navbarlink {
  text-decoration: none;
  color: #012a4a;
  font: 700 16px "Inter", sans-serif;
}

.loginlink {
  text-decoration: none;
  background: #14a800;
  font: 600 16px "Inter", sans-serif;
  color: white;
  border-radius: 3px;
  padding: 3% 10%;
}

.body {
  width: 100%;
  position: relative;
  display: flex;
  align-items: right;
  justify-content: right;
}

.mainimage {
  filter: brightness(50%);
  width: 100%;
  height: auto;
  overflow: hidden;
}

.bodycontainer {
  display: flex;
  flex-direction: column;
  top: 15%;
  left: 60%;
  width: 30%;
  gap: 1.7vw;
  position: absolute;
}

.title {
  color: #ffffff;
  font: 700 4vw "Inter", sans-serif;
}

.titletext {
  color: #ffffff;
  font: 500 1.3vw "Inter", sans-serif;
}

.titlelink {
  max-width: fit-content;
  text-decoration: none;
  background: #14a800;
  font: 500 1.2vw "Inter", sans-serif;
  color: white;
  border-radius: 4px;
  padding: 3% 5%;
}

.body2 {
  margin: 7vw 10vw;
}

.bodyheader {
  width: 50%;
  margin-bottom: 20px;
  color: #03435f;
  font: 700 2.5vw "Inter", sans-serif;
}

.bodyheadertext {
  width: 50%;
  color: #03435f;
  font: 400 16px "Inter", sans-serif;
  margin-bottom: 20px;
}

.gridcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 2vw;
}

.flexcontainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: auto;
}
