@media screen and (min-width: 700px) {
  .leftside {
    width: 50%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    gap: 40px;
  }

  .rightside {
    width: 50%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .leftside {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    gap: 40px;
  }

  .rightside {
    display: none;
  }
}

.container {
  display: flex;
}

.scoreboard {
  display: flex;
  margin-top: 60px;
  margin-bottom: 50px;
  gap: 5px;
  color: #21334f;
  text-align: left;
  font: 600 28px "Inter", sans-serif;
}

.scoreboardlogo {
  background: linear-gradient(
    161.92deg,
    rgba(20, 168, 0, 1) 0%,
    rgba(184, 211, 68, 1) 100%
  );
  border-radius: 50%;
  padding: 10px;
  width: 48px;
  height: 48px;
  position: relative;
}

.scoreboardname {
  color: #21334f;
  font-family: sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-items: flex-end;
  top: 10px;
  position: relative;
}

.header {
  color: #21334f;
  text-align: left;
  font: 700 32px "Inter", sans-serif;
}
.details {
  color: #21334f;
  text-align: left;
  font: 600 16px "Inter", sans-serif;
  margin-bottom: 13px;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forminput {
  width: 100%;
  height: 25xpx;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.forminput::placeholder {
  color: rgba(33, 51, 79, 0.8);
  font: 400 16px "Inter", sans-serif;
}

.signupbtn {
  background: var(
    --color-gradient,
    linear-gradient(97deg, #34a853 0%, #b8d344 100%)
  );
  border: none;
  padding: 10px 0;
  margin-bottom: 20px;
}

.signupbtn:disabled {
  cursor: not-allowed;
  background: #ccc;
  opacity: 0.5;
}

.signup {
  color: #ffffff;
  font: 700 16px/32px "Inter", sans-serif;
}

.signup2 {
  color: black;
  font: 700 16px/32px "Inter", sans-serif;
}

.link {
  text-align: left;
  margin-bottom: 50px;
}
.link2 {
  list-style: none;
  color: #34a853;
  text-align: left;
  text-decoration: none;
  font: 600 16px "Inter", sans-serif;
}

.link3 {
  list-style: none;
  text-decoration: none;
  color: #34a853;
  text-align: right;
  font: 500 16px "Inter", sans-serif;
  margin-bottom: 50px;
}

.subheader {
  color: #21334f;
  text-align: left;
  font: 400 16px "Inter", sans-serif;
  opacity: 0.800000011920929;
  margin-bottom: 20px;
}
